<h2 mat-dialog-title> {{nameForm}} un Producto</h2>
<mat-dialog-content>
    <form [formGroup]="productForm">
        <div class="product-container">
            <mat-form-field>
                <input  formControlName="name"
                        matInput placeholder="Nombre" required />
            </mat-form-field>

            <mat-form-field>
                <input  formControlName="price"
                        matInput placeholder="Precio" 
                        type="number"
                        required />
            </mat-form-field>

            <mat-form-field>
                <input  formControlName="account"
                        matInput placeholder="Cantidad" 
                        type="number"
                        required />
            </mat-form-field>

           <mat-form-field>

            <mat-label>
                <mat-select formControlName="category" >
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                        {{cat.name}}
                    </mat-option>
                </mat-select>
            </mat-label>
           </mat-form-field>

           <div>
                <mat-label>Foto: </mat-label>
                <label class="subir" for="file-upload">Subir archivo</label>
                <input id="file-upload" 
                       accept="image/png, image/jpeg"
                       (change)="onFileChanged($event)"
                       type="file"
                       class="input-file"
                       formArrayName="picture">
                       <span>{{nameImg}}</span>
           </div>
            
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="onSave()" [disabled]="productForm.valid"
            mat-button color="primary">
        <mat-icon>save</mat-icon>Crear
    </button>
    <button (click)="onCancel()" 
            mat-button color="primary">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>
</mat-dialog-actions>